@import url(http://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro);

body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 20px 0 0;
}
a:link { color: #006699; }
p {
  font-weight: normal;
  margin: 0 0 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}
h2 { margin-left: 20px; }
h3 {
  font-size: 18px;
  margin: 0 0 5px;
}

/*
clearfix
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/* img */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
label { margin-bottom: 5px; }
input[type="text"] {
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px;
}
.btn {
  background-color: #fd4239;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  margin: 10px 0;
  padding: 10px;
}
.btn-secondary {
  background-color: #cccccc;
  color: #333333;
  font-size: 16px;
  padding: 5px;
}
p.small {
  font-size: 14px;
  font-style: italic;
}

.header {
  border-bottom: 1px solid #dddddd;
  padding: 40px;
  text-align: center;
}

.header form {
  font-size: 24px;
  margin-top: 60px;
}
.header h1 {
  background-color: #fd4239;
  border-radius: 2px;
  color: #ffffff;
  font-size: 100px;
  margin: 10px 0 20px;
  padding: 20px 40px;
}
.header .vote h2 { margin-top: 25px; }
.header h2 {
  font-size: 36px;
  font-weight: normal;
  margin: 20px 0;
}
.header h2 u {
  color: #000000;
  font-weight: bold;
}

#state, #legislators { display: none; }
.state {
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}
.state:nth-child(even) { background-color: #eeeeee; }
.person {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0 0 2px 0 rgba(50, 50, 50, 0.2);
  box-shadow:         0 0 2px 0 rgba(50, 50, 50, 0.2);
  float: left;
  margin: 2%;
  min-height: 420px;
  padding: 20px 0 0;
  position: relative;
  text-align: center;
  width: 29%;
}

@media (max-width: 999px) {
  .vote  h1{
    font-size: 32px;
  }
  .header h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 20px;
  }
  .person {
    width: 46%;
  }
}
@media (max-width: 649px) {
  form, input[type="text"], .btn { font-size: 18px; }
  .header h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px;
  }
  .person {
    float: none;
    margin-bottom: 20px;
    width: 96%;
  }
}

@media (max-width: 400px) {
  body { padding: 10px; }
  input[type="text"] { width: 200px; }
}

.person img { margin-bottom: 10px; }
.contact-info { text-align: center; }
.contact-info ul {
  margin: 0 auto 10px;
  max-width: 200px;
  padding: 0;
}
.contact-info li {
  list-style: none;
  float: left;
  width: 33%;
}
.contact-info li a {
  font-size: 24px;
  text-decoration: none;
}
.contact-info li a.facebook {
  color: #46629E;
}
.contact-info li a.twitter {
  color: #00ACEE;
}
.term-end {
  background-color: #fd4239;
  bottom: 0;
  color: #ffffff;
  margin: 20px 0 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}

.footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

/*
typeahead
*/
.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: left;
}
.tt-suggestion {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.tt-suggestion p {
  margin: 0;
}
.tt-is-under-cursor {
  background-color: #eeeeee;
}

.social {
  float: right;
  padding-right: 20px;
}
.fb-like { margin-right: 10px; }