@import url(http://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro);

body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a:link { color: #006699; }
p {
  line-height: 1.6;
  margin: 0 0 5px;
}
.small {
  font-size: 14px;
  font-style: italic;
}
blockquote {
  border-bottom: 1px solid #dddddd;
  font-size: 24px;
  font-style: italic;
  line-height: 1.6;
  margin: 0 0 20px;
  padding-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 {
  font-size: 18px;
  font-weight: bold;
}

/* img */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.w {
  padding: 50px;
}

.header {
  background-color: #333333;
  color: #ffffff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 30%;
}
.header h1 {
  background-color: #fd4239;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 32px;
  padding: 3px 8px;
}
form {
  margin-top: 60px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  padding: 5px;
  width: 200px;
}
.btn {
  background-color: #fd4239;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Bitter', Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 15px 0 0;
  padding: 5px;
}
.footnote {
  bottom: 20px;
  color: #999999;
  position: absolute;
}

#legislators {
  margin-left: 30%;
  max-width: 50%;
}

.state {
}
.state h2 { margin: 20px 0 10px; }
.person {
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0 0 2px 0 rgba(50, 50, 50, 0.2);
  box-shadow:         0 0 2px 0 rgba(50, 50, 50, 0.2);
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 480px;
}
.w-person { padding: 10px; }
.person h3 {
  font-weight: normal;
  margin: 0 0 10px;
}
.person img { 
  border-radius: 2px;
  width: 25%;
}
.person .info {
  float: right;
  margin-left: 2%;
  width: 73%;
}
.contact-info ul {
  margin: 0 0 10px;
  padding: 0;
}
.contact-info li {
  float: left;
  list-style: none;
  margin-right: 20px;
}
.contact-info li a {
  font-size: 24px;
  text-decoration: none;
}
.contact-info li a.facebook {
  color: #46629E;
}
.contact-info li a.twitter {
  color: #00ACEE;
}
.term-end {
  margin: 20px 0 0;
}

.footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

/*
typeahead
*/
.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: left;
  width: 210px;
}
.tt-suggestion {
  border-bottom: 1px solid #ddd;
  color: #333333;
  padding: 10px;
}
.tt-suggestion p {
  margin: 0;
}
.tt-is-under-cursor {
  background-color: #eeeeee;
}

.social {
  float: right;
  padding-right: 20px;
}
.fb-like { margin-right: 10px; }

/*
clearfix
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/* minor breakpoints */
@media (max-width: 1405px) {
  .header h1 { font-size: 28px; }
}
@media (max-width: 1280px) {
  .header h1 { font-size: 24px; }
}
@media (max-width: 1155px) {
  .header h1 { font-size: 18px; }
}
@media (max-width: 450px) {
  blockquote { font-size: 18px; }
}

/* major breakpoints */
@media (max-width: 1090px) {
  .header {
    background-color: #333333;
    color: #ffffff;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  form { margin-top: 20px; }
  .footnote {
    margin-top: 20px;
    position: static;
  }
  .social {
    float: none;
    padding-right: 0;
  }
  #legislators {
    margin-left: 0;
    max-width: 75%;
  }
}

@media (max-width: 800px) {
  .w { padding: 20px; }
  #legislators { max-width: 100% }
}

@media (max-width: 540px) {
  .person {
    float: none;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .person .info {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .person img { 
    border-radius: 2px;
    margin-bottom: 5px;
    width: 50%;
  }
  .contact-info ul {
    margin: 0 auto;
    width: 200px;
  }
  .contact-info li {
    float: left;
    list-style: none;
    margin: 0 2%;
    width: 29%;
  }
}